@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --blue-steel: steelblue;
  --blue-light: rgb(77, 77, 220);
  --red-secondary: rgb(220, 77, 77);
  --red-primary: rgb(255, 0, 0);
  --gray-light: rgb(202, 202, 202);
  --gray-dark: gray;
  --black: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
  --font-family: "Roboto Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-gray-light {
  color: var(--gray-light);
}

.text-gray {
  color: var(--gray-dark);
}

.text-title {
  font-family: var(--font-family);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.text-steel-blue {
  text-transform: capitalize;
  color: steelblue;
}

.text-blue {
  text-transform: capitalize;
  color: var(--blue-light);
}

.btn-black {
  background-color: transparent;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--black);
  border-radius: 0;
  border: 0.2rem solid var(--black);
}

.btn-black:hover {
  background-color: var(--black);
  color: var(--light);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--blue-steel);
}
